<div>

  <h1>Prueba chat</h1>
  Nota: {{chat}}<br>
  <div>
    <input id="chatBox">
  </div>
  <div>
    <p id="messageLogs"></p>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.9/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/chat.js" type="module"></script>

